@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
    /* height: 100%; */
}

body{
    background-image: linear-gradient(90deg, #0BE6A5, #025951);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #01383465;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    text-align: center;
    text-shadow: 1px 1px 2px #8d3400cc;
    color: #E65400;
}

h2{
    color: #0F7499;
}
p{
    text-align: justify;
}